# LoongChipX Project .gitignore
*.o
*.a
*.so
*.bak

# DPI
**/.idea
**/cmake-build-debug
**/.Xil

*.exe
*.exe.S
*.exe.size

*vmlinux

*.bin
*.hex
*.pat
*.map
*.data
*.text
*.coe
*.mif
*.vlog

# Vivado
/impl/work-xlnx/
/ip/amd/*/*.cache/
/ip/amd/*/*.gen/
/ip/amd/*/*.hw/
/ip/amd/*/*.ip_user_files/
/ip/amd/*/*.runs/
/ip/amd/*/*.srcs/
/ip/amd/*/*.xpr


# VCS
*.report
**/novas.rc
**/novas.conf
**/csrc
**/simv.daidir
**/verdiLog
*.fsdb*
*.log
**/simv
*.key
*.vcs*
**/vcd2fsdbLog


# verilator
*.vcd
**/logs
**/obj_dir
*.err



